<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
        <form action="method" method="post">
    <label for="Name">Your Name:</label>
    <input type="text" name="Name"/>
        <label for="DojoLocation">Dojo Location:</label>
    <select name="DojoLocation" id="DojoLocation">
        <option value="WestCoast">West Coast</option>
        <option value="Midwest">Midwest</option>
        <option value="EastCoast">East Coast</option>
    </select>
        <label for="FavoriteLanguage">Favorite Language:</label>
    <select name="Favorite Language" id="Favorite Language">
        <option value="Python">Python</option>
        <option value="Javascript">Javascript</option>
        <option value="C#">C#</option>
    </select>
        <label for="Comment">Comment (optional):</label>
    <input type="text" Comment="Name"/>
    <button type="submit">Submit</button>
</form>


    </body>
</html>

